/* Typography styles start*/
.body {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3f3f3f;
}

/* Typography styles end*/
